<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= band.nombre %> </h1>
    <h1><%= band.integrantes %> </h1>
    <h1><%= band.genero %> </h1>
    <% for (const element of band.topCanciones) {%>
    <h1><%= element %> </h1>
   <% } %>
    <h1><%= band.nombre %> </h1>
</body>
</html>