<%- include('./partials/head') %>  
  <body>
<%- include('./partials/header') %>  
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <% generos.forEach(element => { %>
        <ul>
          <li> <%= element.name %></li>
        </ul>
      <% }) %></li>
    
<%- include('./partials/footer') %>  
  </body>
</html>